
body {
		font-size : 12px;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #EEF2FB;
	}
	a {font-size:12px} 
	a:link {color: blue; text-decoration:none;}
	a:active:{color: red; } 
	a:visited {color:purple;text-decoration:none;} 
	a:hover {color: red; text-decoration:underline;} 


.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(../pc/images/top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}
.table_bordel0{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;	
}
.table_bordel023{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #d2d2d2;
	border-right-color: #d2d2d2;
	border-bottom-color: #d2d2d2;
	border-left-color: #d2d2d2;
	}
.list_a01{
	background-image:url(../images/table0_gtop.jpg); background-repeat:repeat-x;	
}
.list_a01:hover{
	background-image:url(); background-repeat:repeat-x;	
}
.grat14a {
	font-family: "ËÎÌå", "Î¢ÈíÑÅºÚ";
	font-size: 12px; 
}